@import 'variables';
#hdSpace {
    cursor: default;
    color: #333;
    font-size: 16px;
    direction: ltr;
    height: 90px;
    position: relative;
    
}

.member-header {
    background-color: rgba(0, 0, 0, 0.97);
    padding: 0 45px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    min-width: 190px;
}


#hd{
    height: 70px;
    padding-left: 135px;
}
.logo {
    background: $logo no-repeat;
    background-size: contain;
    line-height: 1;
    position: absolute;
    left: 45px;
    top: 0;
    padding: 18px 0;
    color: transparent;
    font-size: 32px;
    width: 118px;
}
.aro-genre-list {
    position: absolute;
}
#link-table {
    padding: 0;
    margin: 0;
}

#link-table > li {
    font-size: 1.2vw;
    margin-left: 1.1em;
    display: inline;
}

.link{
    line-height: 70px;
    font-size: 18px;
    text-decoration: none;
    font-weight: 800;
    color: $white;
    cursor: pointer;
}

#page-title{
    line-height: 70px;
    color: $white;
    font-weight: 700;
    position: absolute;
    right: 320px;
    width: 0;
    font-size: 45px;
}

