@charset "UTF-8";

body {
  background-image: url("/images/lights.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.authentication-wrapper {
  position: absolute;
  z-index: 10000;
  background-color: #f5f5f7;
  width: 360px;
  left: 50%;
  top: 100px;
  margin-left: -180px;
  box-shadow: 0 0 20px #cccccc;
  border-radius: 3px;
  margin-bottom: 40px;
  color: #666;
}

.authentication-wrapper h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 16px;
  margin: 20px 0 0;
  text-align: center;
  font-weight: 400;
  line-height: 1.1;
  color: inherit;
}

.authentication-wrapper h1 {
  font-size: 25px;
  margin: 55px 0 0;
  color: #1d1d1d;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.form-authentication {
  max-width: 330px;
  padding: 15px 15px 25px;
  margin: 10px 0 20px;
}

.logo-wrapper {
  width: 128px;
  height: 128px;
  position: absolute;
  left: 50%;
  top: -64px;
  margin-left: -64px;
}

.logo-base {
  position: absolute;
  border-radius: 50%;
  width: 118px;
  height: 118px;
  left: 5px;
  top: 5px;
}

.logo {
  position: absolute;
  background: url("/images/logo.png") no-repeat;
  background-size: 128px 128px;
  width: 100%;
  height: 100%;
}

.form-inputs {
  width: 360;
  padding: 10px;
}

.form-inputs-with-icons {
  display: block;
  margin: 30px 0 20px;
}

.input-with-icon {
  position: relative;
  padding-top: 3px;
}

.icon {
  position: absolute;
  color: #ed1c24;
  font-size: 20px;
  left: 10px;
  top: 30%;
  z-index: 10;
  font-family: FontAwesome;
}

.input-field-div {
  position: relative;
  font-size: 16px;
}

.input-field {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  height: auto;
  line-height: 1.2;
  background-color: white;
  padding: 10px;
  padding-left: 40px !important;
  width: 255px;
}

.input-field::-webkit-input-placeholder {
  color: #b3b3b9;
  font-weight: bold;
  font-family: sans-serif;
}

.form-submit {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #f5f5f7;
  background-color: #ed1c24;
  border-radius: 3px;
  border: 2px solid #a50d13;
  outline: 0;
  padding: 10px 16px;
  width: 100%;
}

.form-submit:hover {
  background-color: #f6993f;
}

.form-submit:active {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #bc3315), to(#d0451b));
  background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  background-color: #a50d13;
  position: relative;
  top: 1px;
}

.social-networks-wrapper {
  background-color: #f5f5f7;
  padding: 10px 30px 20px;
  border-top: solid 1px #b3b3b9;
  height: 50px;
}

/* Style all font awesome icons */

.fa {
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 2px;
  width: 30%;
  height: 40px;
  float: left;
  color: #f5f5f7;
  margin: 10px 5px 20px;
  border-radius: 5px;
}

/* Add a hover effect if you want */

.fa:hover {
  opacity: 0.7;
}

.fa:active {
  opacity: 1;
}

/*ICONS*/

.fa-user {
  content: "\F007";
}

.fa-lock {
  content: "\F023";
}

/* Twitter */

.fa-twitter {
  background: #55acee;
}

/* Facebook */

.fa-facebook {
  background: #3b5998;
}

/* Google */

.fa-google {
  background: #dd4b39;
}

.bottom-wrapper {
  background-color: #f5f5f7;
  border-top: solid 1px #b3b3b9;
  padding: 15px;
  text-align: center;
  border-radius: 0 0 3px 3px;
}

.bottom-wrapper a {
  color: red;
  text-decoration: none;
}

