body {
  margin: 0;
  background-color: #b3b3b9;
}

.main-content-wrapper {
  height: 500px;
  width: 85%;
  background-color: #353535;
  position: absolute;
  top: 150px;
  margin-top: 12px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

