.banner-wrapper {
  z-index: 15;
  position: -webkit-sticky;
  position: sticky;
  background-color: #f5f5f7;
  height: 150px;
  width: 100%;
  float: left;
}

.page-logo-wrapper {
  z-index: 10;
  position: relative;
  height: 150px;
  width: 150px;
  float: inherit;
}

.page-logo-base {
  position: absolute;
  background-color: #f5f5f7;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-radius: 0px 0px 75px 0px;
}

.page-logo {
  position: absolute;
  background: url("/images/logo.png") no-repeat;
  background-size: 150px 150px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-radius: 0px 0px 75px 0px;
}

.social-wrapper {
  z-index: 9;
  position: relative;
  height: 150px;
  width: 125px;
  background-color: #353535;
  border-radius: 0 25% 25% 0;
  float: inherit;
  left: -60px;
}

.search-wrapper {
  z-index: 6;
  position: absolute;
  background-color: #252525da;
  width: inherit;
  height: 150px;
  float: inherit;
}

.search-bar {
  position: absolute;
  display: block;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  top: 60%;
}

.input-with-icon {
  position: relative;
  padding-top: 3px;
}

.icon {
  position: absolute;
  color: #ed1c24;
  font-size: 20px;
  left: 10px;
  top: 30%;
  z-index: 10;
  font-family: FontAwesome;
}

.input-field-div {
  position: relative;
  font-size: 16px;
}

.input-field {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  height: auto;
  line-height: 1.2;
  background-color: #f5f5f7;
  padding: 10px;
  padding-left: 40px !important;
}

.social-base {
  max-width: 500px;
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: 0 25% 25% 0;
  left: -60px;
}

.links-wrapper {
  z-index: 9;
  position: relative;
  background-color: #1d1d1d;
  width: 150px;
  height: 150px;
  float: right;
  border-radius: 25% 0 0 25%;
}

.bnt-container {
  position: relative;
  margin: 17% 13%;
}

.bnt {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #f5f5f7;
  text-decoration: none;
  background-color: #ed1c24;
  border-radius: 3px;
  border: 2px solid #a50d13;
  outline: 0;
  padding: 10px 16px;
  width: 75px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.bnt:hover {
  background-color: #f6993f;
}

.bnt:active {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #bc3315), to(#d0451b));
  background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  background-color: #a50d13;
  position: relative;
  top: 1px;
}

